/* ここからサルワカ */
#nav-drawer {
  position: relative;
}
/* ここからfrog */
.nav-toggle {
  display: block;
  position: absolute;
  /*right: 10px;
  top: -200px;
  width: 51px;
  height: 48px;
  border: 1px solid white;
  text-align: center;
  padding-top: 5px;*/
  z-index: 1;
}
.nav-toggle span {
  display: block;
  position: fixed;
  width: 33px;
  border-bottom: solid 4px white;
  left: 447px;
}
.nav-toggle span:nth-child(1) {
  top: 42px;
}
.nav-toggle span:nth-child(2) {
  top: 55px;
}
.nav-toggle span:nth-child(3) {
  top: 68px;
}
/* 最初のspanをマイナス45度に */
.nav-toggle.active span:nth-child(1) {
  top: 55px;
  left: 441px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 9%;
  border-bottom: solid 3px black;
}
/* 2番目と3番目のspanを45度に */
.nav-toggle.active span:nth-child(2),
.nav-toggle.active span:nth-child(3) {
  top: 55px;
  left: 441px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 9%;
  border-bottom: solid 3px black;
}
/* ここまでfrog */

/* ここからサルワカ */ 
#nav-content{
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: -120px;
  left: -10px;
  width: 100%;
}
/* ここは不明 */
.open #nav-content{
  opacity: .8;
  pointer-events: auto;
  transition: opacity .8s ease;
}

/* ここからfrog */
nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
nav.globalMenuSp a {
  color: white;
  text-decoration: none;
}
/* ここまでfrog */

.container{
  font-size: 15px;
}
/* ここからheader title */
.h-title{
  font-size: 60px;
  width: 75%;
}
/* ここからheader nav */
.h-nav-2{
  display: none;
}
.h-list-2{
  position: relative;
  letter-spacing: normal;
  height: 25px;
  text-align: right;
  margin-bottom: 15px;
}
.h-l-font{
  font-size: 17px;
}
/* ここからheader h2 */
.h-h2{
  font-size: 40px;
}
/* ここからAbout*/
.m-h2{
  font-size: 40px;
  margin-top: 70px;
}
/* ここからprofile */
.m-h3{
  font-size: 30px;
}
.prof{
  flex-direction: column;
}
.prof-p{
  margin: 0 15px;
}
/* ここからWorks */
.m-p{
  margin-bottom: 0;
}
.work-a ul{
  display: flex;
  flex-direction: column;
}
.work-li{
  border-bottom: 1px solid;
}
.work-a li{
  margin: 0 10px;
}
.work-img{
  width: 50%;
  height: auto;
  margin-top: 20px;
}
.work-p{
  color: #555;
  margin-top: 20px;
  line-height: 1.5;
}
.work-p-2{
  color: #555;
  line-height: 1.5;
}
.work-p-3{
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
}
/* ここからお問い合わせフォーム */
input{
  width: 80%;
}
.m-th,.m-th2,.m-td{
  padding: 10px;
}
.button{
  width: 25%;
}
.m-table{
  margin-top: 30px;
}
/* ここからツイッター */
.contact-img{
  width: 20%;
}
/* ここからトップアニメーション */
.start-h2{
  font-size: 60px;
}
/* ここからfooter */
.footer{
  font-size: 12px;
  padding: 12px 0;
}
